{% extends "stuff/base.html" %}

{% block content %}
    {% if user.is_superuser %}
        {{ object.name }}

        <div class="content-section">
            <h2>Aktualny zestaw: {{ curr_set.name }}</h2>
            <h3>Lista przedmiotów w zestawie</h3>
            <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="bg-steel">
                    <th>Nazwa</th>
                    <th>Kategoria</th>
                    <th>Ilość</th>
                </thead>
                <tbody>
                    {% for item_required in curr_set.items_required.all %}
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-bold mb-1 ml-1 ml-m-5"><a href="#">{{ item_required.item_type.name }}</a></p>
                                </div>
                              </td>
                                <td class="align-middle">
                                    <p class="fw-bold">{{ item_required.item_type.category.name }}</p>
                                </td>
                                <td class="align-middle">
                                    <p class="fw-bold">{{ item_required.quantity_required }}</p>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <h3>Lista zestawów</h3>


<table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>Nazwa</th>
      <th>Przedmioty</th>
    </tr>
  </thead>
  <tbody>
  {% for set in sets %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1 ml-1 ml-m-5"><a href="{% url 'set-template-detail' set.id %}">{{ set.name }}</a></p>
          </div>
        </div>
      </td>
      <td class="align-middle">
          <ul>
              {% for item in set.items_required.all %}
                  <li>{{ item.item_type.name }} ({{ item.quantity_required }})</li>
              {% endfor %}
          </ul>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% if is_paginated %}

        <a class="btn btn-outline-info mb-4" href="?page=1">Początek</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <a class="btn btn-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        {% endif %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Koniec </a>

    {% endif %}

    {% else %}
        <h1> Zaloguj się, aby otrzymać dostęp do strony!</h1>
    {% endif %}

{% endblock content %}