{% extends "stuff/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content-section">
            Nazwa szablonu zestawu: <h1>{{ object.set_template.name }}</h1>
            Id: <h1>{{ object.id }}</h1>
            Przedmioty w tym zestawie:
            <ul>
              {% for item in object.items.all %}
                  <li>({{ item.id }}) {{ item.type.name }} ({{ item.type.category.name }})</li>
              {% endfor %}
            </ul>
        {% if object.description %}
            <h3>Dodatkowy opis: </h3>
            {{ object.description }}
        {% endif %}
        </div>

            <div class="content-section">
            {% if user.is_superuser %}
                    <a class="btn btn-outline-info" href="{% url 'set-update' object.id %}">Edytuj zestaw</a>
                    <a class="btn btn-outline-danger" href="{% url 'set-delete' object.id %}">Usuń zestaw</a>
            </div>

            <div class="content-section">
                <h2>Lista rezerwacji tego zestawu</h2>

                    <table class="table align-middle mb-0 bg-white table-hover">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>Rezerwujący</th>
      <th>Początek</th>
      <th>Koniec</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in object.reservations %}
    <tr class="">
      <td class="align-middle">
                    <div class="d-flex align-items-center">
                         <a href="{% url 'reservation-detail' reservation.id %}">
            <p class="fw-normal mb-1">{{reservation.id}}</p></a>
                        <a href="{% url 'reservation-detail' reservation.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg></a></div>
      </td>
        <td class="align-middle">
            <p class="fw-normal mb-1"><a href="{% url 'user-profile' reservation.user.id %}">{{reservation.user.first_name}} {{ reservation.user.last_name }}</a></p>
      </td>
      <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.start_date }}</p>
      </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.end_date }}</p>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        {% endif %}
        </div>
        {% else %}
            <h1> Zaloguj się, aby otrzymać dostęp do strony!</h1>
        {% endif %}
{% endblock content %}
