{% extends "stuff/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
        {% if user.is_authenticated %}
    <h1>Przedmiot: {{ object.type.name }}</h1>
    <h1>Kategoria: {{ object.type.category }}</h1>
    <h1>Id: {{ object.id }}</h1>
    <span class="badge badge-{{ object.badge_status }} rounded-pill d-inline">{{ object.final_status }}</span>
    <img
              src="{{ object.type.image.url }}"
              alt=""
              style="width: 300px; height: 300px"
              class="img-fluid rounded-circle"/>
        {% if user.is_superuser %}
            <div class="content-section">
                    <a class="btn btn-outline-danger" href="{% url 'item-delete' object.id %}">Usuń przedmiot</a>
            </div>

            <div class="content-section">
                <h2>Historia rezerwacji tego przedmiotu</h2>

                    <table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>id</th>
      <th>Autor</th>
      <th>Start</th>
      <th>Koniec</th>
      <th>Szczegóły</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in object.item_set.reservations %}
    <tr class="table-{% if reservation.is_current %}primary
            {% elif not reservation.is_current and reservation.taken %}danger
            {% else %} default{% endif %}">
      <td class="align-middle">
            <p class="fw-normal mb-1">{{reservation.id}}</p>
      </td>
      <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.user.first_name|make_list|first|upper }}.{{ reservation.user.last_name }}</p>
      </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.start_date|date:"d.m.y" }}</p>
        </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.end_date|date:"d.m.y" }}</p>
        </td>

        <td class="align-middle">
            <a href="{% url 'reservation-detail' reservation.id %}" class="fw-normal mb-1">Szczegóły</a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

            </div>
        {% endif %}
        {% else %}
            <h1> Zaloguj się, aby otrzymać dostęp do strony!</h1>
        {% endif %}
{% endblock content %}
