{% extends "stuff/base.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Usuwanie szablonu przedmiotu</legend>
                <h2>Jesteś pewien, że chcesz usunąć szablon przedmiotu {{ object.name }}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Tak, usuń przedmiot</button>
                <a class="btn btn-outline-secondary" href="{% url 'item-template-detail' object.id %}">Anuluj</a>
            </div>

        </form>
    </div>
{% endblock content %}