{% extends "stuff/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}



{% block content %}
    {% if user.id == object.user.id or user.is_superuser %}
    <h1>Szczegóły rezerwacji zestawu {{ object.set.set_template.name }}</h1>



            <div class="content-section">
                <h2>Id zestawu: {{ object.set.id }}</h2>
                <h3>Początek rezerwacji: {{ object.start_date }}</h3>
                <h3>Koniec rezerwacji: {{ object.end_date }}</h3>
                <h3>Osoba rezerwująca: {{ object.user.first_name }} {{ object.user.last_name }}</h3>
                <h3>Przedmiot został zabrany:
                {% if object.taken %}
                    Tak
                {% else %}
                    Nie
                {% endif %}

                </h3>
            {% if user.is_superuser %}
                <a class="btn btn-outline-info" href="{% url 'reservation-update' object.id %}">Edytuj rezerwację</a>
                <a class="btn btn-outline-danger" href="{% url 'reservation-delete' object.id %}">Usuń rezerwację</a>

        {% endif %}
        </div>
        {% else %}
            <h1> Nie masz dostępu do tej strony!</h1>
        {% endif %}
{% endblock content %}
