{% extends "stuff/base.html" %}

{% block content %}

    {% if user.is_superuser %}
    <h1 class="mb-3"> Przedmioty rezerwowane przez użytkowników ({{ page_obj.paginator.count }})</h1>


<table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>Nazwa</th>
      <th class="d-none d-lg-block">Kategoria</th>
      <th>Autor</th>
      <th>Start</th>
      <th>Koniec</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in reservations %}
    <tr>
      <td class="d-none d-lg-block">
        <div class="d-flex align-items-center">
{#            TODO: Fix responsive things #}
{#            TODO: STATIC image! items should have their own pics :) #}
          <img
              src="{{ reservation.item.image.url }}"
              alt=""
              style="width: 50px; height: 50px"
              class="img-fluid rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1 ml-1 ml-m-5"><a href="{% url 'item-detail' reservation.item.id %}">{{ reservation.item.name }}</a></p>
          </div>
        </div>
      </td>
      <td class="align-middle">
            <p class="fw-normal mb-1 d-none d-lg-block">{{ reservation.item.category }}</p>
      </td>
      <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.user.firstname }}</p>
      </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.start_date|date:"d.m.y" }}</p>
        </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.end_date|date:"d.m.y" }}</p>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% if is_paginated %}

        <a class="btn btn-outline-info mb-4" href="?page=1">Początek</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <a class="btn btn-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        {% endif %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Koniec </a>

    {% endif %}

    {% else %}
        <h1> Nie masz dostępu do tej strony!</h1>
    {% endif %}

{% endblock content %}