{% extends "stuff/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .glyphicon-chevron-right::after {
            content: ">" !important;
        }

        .glyphicon-chevron-left::after {
            content: "<" !important;
        }
    </style>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <legend> Edycja rezerwacji {{ object.set.set_template.name }} ({{ object.set.id }})</legend>
            <fieldset class="form-group">
                <input class="form-control" type="text" label="Przedział czasowy rezerwacji" name="date_range"
                value="{{ date_range }}"/>
                <label>Przedział czasowy rezerwacji</label>
            </br></br>
                 <input type="checkbox" data-toggle="toggle" data-onstyle="primary" data-on="Tak" data-off="Nie"
                        name="taken" {% if object.taken %} checked {% endif %}>
                <label>Czy zestaw został wypożyczony?</label>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zapisz</button>
                <a class="btn btn-outline-danger" href="{% url 'reservation-detail' object.id %}">Anuluj</a>
            </div>
        </form>


    </div>

            <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script>

        let today = new Date();
        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        const yyyy = today.getFullYear();

        today = dd + '-' + mm + '-' + yyyy;


    $('input[name="date_range"]').daterangepicker(
    {
        locale: {
          format: 'DD-MM-YYYY'
        },
    },
    function(start, end, label) {
    });

    </script>

{% endblock content %}