{% extends "stuff/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <h1 class="mb-3"> Zestawy rezerwowane przez użytkownika {{ user.username }}</h1>


<table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Start</th>
      <th>Koniec</th>
      <th>Zestaw jest wypożyczony?</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in reservations %}
    <tr>
      <td class="align-middle">
          <div class="d-flex align-items-center">
            <p class="fw-bold mb-1 ml-1 ml-m-5"><a href="{% url 'reservation-detail' reservation.id %}">{{ reservation.id }}</a></p>

                                  <a href="{% url 'reservation-detail' reservation.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>

            </a>
              </div>
      </td>

      <td class="align-middle">
          <p class="fw-normal mb-1"><a href="{% url 'set-detail' reservation.set.id %}">{{ reservation.set.set_template.name }} ({{ reservation.set.id }})</a></p>
      </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.start_date|date:"d.m.y" }}</p>
        </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.end_date|date:"d.m.y" }}</p>
        </td>

      <td class="align-middle">
          {% if object.taken %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% if is_paginated %}

        <a class="btn btn-outline-info mb-4" href="?page=1">Początek</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <a class="btn btn-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        {% endif %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Koniec </a>

    {% endif %}

    {% else %}
        <h1> Zaloguj się, aby otrzymać dostęp do strony!</h1>
    {% endif %}

{% endblock content %}