{% extends "stuff/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <h1 class="mb-3"> Przedmioty rezerwowane przez użytkownika {{ user.username }} ({{ page_obj.paginator.count }})</h1>


<table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Start</th>
      <th>Koniec</th>
      <th>Akcja</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in reservations %}
    <tr>
      <td class="d-none d-lg-block">
            <p class="fw-bold mb-1 ml-1 ml-m-5"><a href="{% url 'reservation-detail' reservation.id %}">{{ reservation.id }}</a></p>
      </td>

      <td class="align-middle">
          <p class="fw-normal mb-1"><a href="{% url 'set-detail' reservation.set.id %}">{{ reservation.set.set_template.name }} ({{ reservation.set.id }})</a></p>
      </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.start_date|date:"d.m.y" }}</p>
        </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.end_date|date:"d.m.y" }}</p>
        </td>

      <td class="align-middle">
          <a class="btn btn-sm" href="#">Edytuj</a>
{#          TODO: Add reservation edit #}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% if is_paginated %}

        <a class="btn btn-outline-info mb-4" href="?page=1">Początek</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <a class="btn btn-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        {% endif %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Koniec </a>

    {% endif %}

    {% else %}
        <h1> Zaloguj się, aby otrzymać dostęp do strony!</h1>
    {% endif %}

{% endblock content %}