{% extends "stuff/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <h1 class="mb-3"> Zestawy rezerwowane przez użytkownika {{ user.username }}</h1>


<table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
    <tr>
      <th>Szczegóły</th>
      <th>Zestaw</th>
      <th>Start</th>
      <th>Koniec</th>
      <th>Zestaw jest wypożyczony?</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in reservations %}
    <tr>
      <td class="align-middle">
          <div class="d-flex align-items-center">
                        <a href="{% url 'reservation-detail' reservation.id %}">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
</svg>
            </a>
              </div>
      </td>

      <td class="align-middle">
          <p class="fw-normal mb-1"><a href="{% url 'set-detail' reservation.set.id %}">{{ reservation.set.set_template.name }}</a></p>
      </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.start_date|date:"d.m.y" }}</p>
        </td>

        <td class="align-middle">
            <p class="fw-normal mb-1">{{ reservation.end_date|date:"d.m.y" }}</p>
        </td>

      <td class="align-middle">
          {% if object.taken %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% if is_paginated %}

        <a class="btn btn-outline-info mb-4" href="?page=1">Początek</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <a class="btn btn-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        {% endif %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Koniec </a>

    {% endif %}

    {% else %}
        <h1> Zaloguj się, aby otrzymać dostęp do strony!</h1>
    {% endif %}

{% endblock content %}